<head>
  <meta charset="utf-8" />
  <link href="dist/images/logo.svg" rel="shortcut icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="Icewall admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities."
  />
  <meta
    name="keywords"
    content="admin template, Icewall Admin Template, dashboard template, flat admin template, responsive admin template, web app"
  />
  <meta name="author" content="LEFT4CODE" />
  <title>Dashboard - Midone - Tailwind HTML Admin Template</title>
  <!-- BEGIN: CSS Assets-->
  <link rel="stylesheet" href="dist/css/app.css" />
  <link rel="stylesheet" href="/asset/css/checkout.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.17/css/intlTelInput.css"
  />
  <link rel="stylesheet" href="/asset/css/main.css" />
  <!-- END: CSS Assets-->
  <script>
    localStorage.setItem("theme-color", "theme-1");
    localStorage.setItem("layout", "top-menu");
    localStorage.setItem("theme", "icewall");
  </script>
  <link rel="stylesheet" href="../dist/css/chart.css" />
  <link rel="stylesheet" href="/asset/css/main.css" />
  <!-- END: CSS Assets-->
  <script>
    localStorage.setItem("theme-color", "theme-3");
    localStorage.setItem("layout", "side-menu");
    localStorage.setItem("theme", "icewall");
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="utf-8">
    <link href="dist/images/logo.svg" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Icewall admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Icewall Admin Template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="LEFT4CODE">
    <title>Dashboard - Midone - Tailwind HTML Admin Template</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="dist/css/app.css" />
    <link rel="stylesheet" href="/asset/css/main.css"> 
    <link rel="stylesheet" href="/asset/css/page_subscription.css"> 
    <link rel="stylesheet" href="/asset/css/page_license.css"> 
    <!-- END: CSS Assets-->
    <script>
        localStorage.setItem("theme-color","theme-3");
        localStorage.setItem("layout","side-menu");
        localStorage.setItem("theme","icewall");
    </script>
</head>
<!-- END: Head -->
