<script src="/asset/dist/js/vendors/dom.js"></script>
<script src="/asset/js/main.js"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=["your-google-map-api"]&libraries=places"></script>
<script src="dist/js/app.js"></script>
<script type="module" src="dist/js/sales/sales.js" defer></script>
<script src="/asset/js/checkout.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.17/js/intlTelInput.min.js"></script>
<script src="dist/js/sales/chart.js"></script>
<script src="/asset/js/page_subscription.js"></script>
<script src="/asset/js/page_license.js"></script>
<script src="/public/config.js"></script>
<script src="/asset/js/confirm.js"></script>