<nav class="side-nav">
    <ul>
        <li>
            <a href="javascript:;" id="dashboard-side-menu" class="side-menu side-menu--active" onclick="side_menu_click(this,'dashboard')">
                <div class="side-menu__icon"> 
                    <i data-lucide="home"></i> 
                </div>
                <div class="side-menu__title"> Dashboard </div>
            </a>
        </li>
        <li>
            <a href="javascript:;" id="bank_soal-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/bank_soal')">
                <div class="side-menu__icon"> 
                    <i data-lucide="hard-drive"></i> 
                </div>
                <div class="side-menu__title"> Bank Soal </div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="side-menu" >
                <div class="side-menu__icon"> 
                    <i data-lucide="key"></i> 
                </div>
                <div class="side-menu__title"> License </div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="side-menu">
                <div class="side-menu__icon"> 
                    <i data-lucide="share2"></i> 
                </div>
                <div class="side-menu__title">
                    Affiliate 
                    <div class="side-menu__sub-icon"> 
                        <i data-lucide="chevron-down"></i> 
                    </div>
                </div>
            </a>
            <ul class="side-menu__sub-open">
                <li>
                    <a href="javascript:;" id="license-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/license')">
                        <div class="side-menu__icon"> 
                            <i data-lucide="users"></i> 
                        </div>
                        <div class="side-menu__title"> Link </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="side-menu">
                        <div class="side-menu__icon"> 
                            <i data-lucide="trello"></i> 
                        </div>
                        <div class="side-menu__title"> Trafik </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="side-menu">
                        <div class="side-menu__icon"> 
                            <i data-lucide="shopping-bag"></i> 
                        </div>
                        <div class="side-menu__title"> Komisi </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="side-menu">
                        <div class="side-menu__icon"> 
                            <i data-lucide="inbox"></i> 
                        </div>
                        <div class="side-menu__title"> Prospek </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="side-menu">
                        <div class="side-menu__icon"> 
                            <i data-lucide="folder"></i> 
                        </div>
                        <div class="side-menu__title"> Set Bonus </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="side-menu">
                        <div class="side-menu__icon"> 
                            <i data-lucide="credit-card"></i> 
                        </div>
                        <div class="side-menu__title"> Kupon </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="side-menu">
                        <div class="side-menu__icon"> 
                            <i data-lucide="message-square"></i> 
                        </div>
                        <div class="side-menu__title"> Bank </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="side-menu" onclick="side_menu_click(this,'dashboard/tagihan')">
                <div class="side-menu__icon"> 
                    <i data-lucide="file-text"></i> 
                </div>
                <div class="side-menu__title"> Tagihan </div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="side-menu">
                <div class="side-menu__icon"> 
                    <i data-lucide="help-circle"></i> 
                </div>
                <div class="side-menu__title">
                    Support 
                    <div class="side-menu__sub-icon"> 
                        <i data-lucide="chevron-down"></i> 
                    </div>
                </div>
            </a>
            <ul class="side-menu__sub-open">
                <li>
                    <a href="javascript:;" class="side-menu">
                        <div class="side-menu__icon"> 
                            <i data-lucide="activity"></i> 
                        </div>
                        <div class="side-menu__title"> Ticket </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="side-menu">
                        <div class="side-menu__icon"> 
                            <i data-lucide="activity"></i> 
                        </div>
                        <div class="side-menu__title"> Dokumentasi </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="side-menu">
                        <div class="side-menu__icon"> 
                            <i data-lucide="activity"></i> 
                        </div>
                        <div class="side-menu__title"> Tutorial </div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>