<nav class="side-nav">
    <ul>
        <li>
            <a href="javascript:;" id="dashboard-side-menu" class="side-menu side-menu--active" onclick="side_menu_click(this,'dashboard')">
                <div class="side-menu__icon"> 
                    <i data-lucide="home"></i> 
                </div>
                <div class="side-menu__title"> Dashboard </div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="side-menu">
                <div class="side-menu__icon"> 
                    <i data-lucide="share2"></i> 
                </div>
                <div class="side-menu__title">
                    Sejoli 
                    <div class="side-menu__sub-icon"> 
                        <i data-lucide="chevron-down"></i> 
                    </div>
                </div>
            </a>
            <ul class="side-menu__sub-open">
                <li>
                    <a href="javascript:;" id="sales-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/sales'); getOrder();">
                        <div class="side-menu__icon"> 
                            <i data-lucide="shopping-cart"></i> 
                        </div>
                        <div class="side-menu__title"> Sales </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="subscription-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/subscription')">
                        <div class="side-menu__icon"> 
                            <i data-lucide="repeat"></i> 
                        </div>
                        <div class="side-menu__title"> Subscription </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="coupon-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/coupon')">
                        <div class="side-menu__icon"> 
                            <i data-lucide="tag"></i> 
                        </div>
                        <div class="side-menu__title"> Coupon </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="license-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/license')">
                        <div class="side-menu__icon"> 
                            <i data-lucide="key"></i> 
                        </div>
                        <div class="side-menu__title"> License </div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>