<nav class="side-nav">
    <ul>
        <li>
            <a href="javascript:;" id="dashboard-side-menu" class="side-menu side-menu--active" onclick="side_menu_click(this,'dashboard')">
                <div class="side-menu__icon"> 
                    <i data-lucide="home"></i> 
                </div>
                <div class="side-menu__title"> Dashboard </div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="side-menu">
                <div class="side-menu__icon"> 
                    <i data-lucide="share2"></i> 
                </div>
                <div class="side-menu__title">
                    Sejoli 
                    <div class="side-menu__sub-icon"> 
                        <i data-lucide="chevron-down"></i> 
                    </div>
                </div>
            </a>
            <ul class="side-menu__sub-open">
                <li>
                    <a href="javascript:;" id="settings-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/settings')">
                        <div class="side-menu__icon"> 
                            <i data-lucide="users"></i> 
                        </div>
                        <div class="side-menu__title"> Settings </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="notification-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/notification')">
                        <div class="side-menu__icon"> 
                            <i data-lucide="bell"></i> 
                        </div>
                        <div class="side-menu__title"> Notification </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="sales-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/sales')">
                        <div class="side-menu__icon"> 
                            <i data-lucide="shopping-cart"></i> 
                        </div>
                        <div class="side-menu__title"> Sales </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="subscription-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/subscription')">
                        <div class="side-menu__icon"> 
                            <i data-lucide="repeat"></i> 
                        </div>
                        <div class="side-menu__title"> Subscription </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="commission-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/commission')">
                        <div class="side-menu__icon"> 
                            <i data-lucide="percent"></i> 
                        </div>
                        <div class="side-menu__title"> Commission </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="affiliate-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/affiliate')">
                        <div class="side-menu__icon"> 
                            <i data-lucide="share-2"></i> 
                        </div>
                        <div class="side-menu__title"> Affiliate </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="coupon-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/coupon')">
                        <div class="side-menu__icon"> 
                            <i data-lucide="tag"></i> 
                        </div>
                        <div class="side-menu__title"> Coupon </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="license-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/license')">
                        <div class="side-menu__icon"> 
                            <i data-lucide="key"></i> 
                        </div>
                        <div class="side-menu__title"> License </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="leaderboard-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/leaderboard')">
                        <div class="side-menu__icon"> 
                            <i data-lucide="award"></i> 
                        </div>
                        <div class="side-menu__title"> Leaderboard </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="bulk_notification-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/bulk_notification')">
                        <div class="side-menu__icon"> 
                            <i data-lucide="bell-plus"></i> 
                        </div>
                        <div class="side-menu__title"> Bulk Notification </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="payment_confirmation-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/payment_confirmation')">
                        <div class="side-menu__icon"> 
                            <i data-lucide="credit-card"></i> 
                        </div>
                        <div class="side-menu__title"> Payment Confirmation </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="checkout_script-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/checkout_script')">
                        <div class="side-menu__icon"> 
                            <i data-lucide="code"></i> 
                        </div>
                        <div class="side-menu__title"> Checkout Script </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="log-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/log')">
                        <div class="side-menu__icon"> 
                            <i data-lucide="file-text"></i> 
                        </div>
                        <div class="side-menu__title"> Log </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="your_license-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/your_license')">
                        <div class="side-menu__icon"> 
                            <i data-lucide="shield"></i> 
                        </div>
                        <div class="side-menu__title"> Your License </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="reset_data-side-menu" class="side-menu" onclick="side_menu_click(this,'dashboard/reset_data')">
                        <div class="side-menu__icon"> 
                            <i data-lucide="trash-2"></i> 
                        </div>
                        <div class="side-menu__title"> Reset Data </div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>