<head>
  <meta charset="utf-8" />
  <link href="dist/images/logo.svg" rel="shortcut icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="Icewall admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities."
  />
  <meta
    name="keywords"
    content="admin template, Icewall Admin Template, dashboard template, flat admin template, responsive admin template, web app"
  />
  <meta name="author" content="LEFT4CODE" />
  <title>Dashboard - Midone - Tailwind HTML Admin Template</title>
  <!-- BEGIN: CSS Assets-->


  <link rel="stylesheet" href="/asset/css/checkout.css" />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.17/css/intlTelInput.css"
  />

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <link rel="stylesheet" href="<?php echo BASE_URL; ?>/asset/css/confirm.css">
  <link rel="stylesheet" href="<?php echo BASE_URL; ?>/asset/css/app.css" />
  <link rel="stylesheet" href="<?php echo BASE_URL; ?>/asset/css/app2.css" />
  <link rel="stylesheet" href="<?php echo BASE_URL; ?>/asset/css/sales/chart.css" />
  <link rel="stylesheet" href="<?php echo BASE_URL; ?>/asset/css/sales/sales.css" />
  <link rel="stylesheet" href="<?php echo BASE_URL; ?>/asset/css/useOfSejoli.css" />
  <link rel="stylesheet" href="<?php echo BASE_URL; ?>/asset/css/main.css" />
  <link rel="stylesheet" href="<?php echo BASE_URL; ?>/asset/css/page_subscription.css" />
  <link rel="stylesheet" href="<?php echo BASE_URL; ?>/asset/css/page_license.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


  <!-- END: CSS Assets-->

  <script>
    localStorage.setItem("theme-color", "theme-3");
    localStorage.setItem("layout", "side-menu");
    localStorage.setItem("theme", "icewall");
  </script>

</head>
<!-- END: Head -->
