<script src="<?php echo BASE_URL; ?>/asset/dist/js/vendors/dom.js"></script>
<script src="<?php echo BASE_URL; ?>/asset/js/main.js"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=["your-google-map-api"]&libraries=places"></script>

<script src="<?php echo BASE_URL; ?>/asset/js/app.js"></script>
<script type="module" src="<?php echo BASE_URL; ?>/asset/js/sales/sales.js" defer></script>
<script type="module" src="<?php echo BASE_URL; ?>/asset/js/subs/subscription.js" defer></script>
<script src="<?php echo BASE_URL; ?>/asset/js/sales/updateOrder.js"></script>
<script src="<?php echo BASE_URL; ?>/asset/js/subs/updateSubs.js"></script>

<script src="<?php echo BASE_URL; ?>/asset/js/checkout.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.17/js/intlTelInput.min.js"></script>

<script src="<?php echo BASE_URL; ?>/asset/js/confirm.js"></script>
<script src="<?php echo BASE_URL; ?>/asset/js/sales/chart.js"></script>
<script src="<?php echo BASE_URL; ?>/asset/js/page_subscription.js"></script>
<script src="<?php echo BASE_URL; ?>/asset/js/page_license.js"></script>
<script src="<?php echo BASE_URL; ?>/asset/public/config.js"></script>    
